<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
	    <title>Test App</title>
	    <link rel="stylesheet" href="/css/bootstrap.css">
	    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="/css/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/js/bootstrap.js"></script>

    </head>
    <body>
	    <nav class="navbar navbar-expand navbar-inverse" role="navigation">
		    <div class="container">
			    <div class="navbar-header">
	 			    <a class="navbar-brand" href="/">Test App</a>
<% 					if(user) { %>
					<a class="navbar-brand" href="/dashboard">Dashboard</a>
					<a class="navbar-brand" href="/edit_profile">Profile</a>
					<a class="navbar-brand" href="/logout">Log out</a>
<% 					} else {  %> 
					<a class="navbar-brand" href="/login"> Sign In </a>
<%  				}	%> 	
			    </div>	
		    </div>
	    </nav>